---
const { title, description, url, date, type } = Astro.props;
---

<li class="bloglist-item" id={type}>
  <div>
    <p class="type">{type}</p>
  </div>
  <a href={url}>
    <h4>{title}</h4>
    <p>{description}</p>
    <p>{date}</p>
  </a>
</li>
<style>
  li {
    list-style: none;
    padding: 0 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
  }
  div {
    height: 100%;
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 15px solid rgb(254, 7, 62);
  }
  #blog > div {
    border-color: #ff5400;
  }
  #media > div {
    border-color: #0ead69;
  }
  #recipe > div {
    border-color: #fcca46;
  }
  #podcast > div {
    border-color: #3da5d9;
  }
  .type {
    transform: rotate(-90deg);
    font-family: "Unbound";
  }
</style>