---
const { title, description, url, date, type, img } = Astro.props;
// not sure about including the image..
---

<li class="bloglist-item" id={type}>
  <div>
    <p class="type">{type}</p>
  </div>
  <a href={url}>
    <h4>{title}</h4>
    <p>{description}</p>
  </a>
  <!-- { img ? <img src={img.url} alt={img.alt} /> : null } -->
</li>
<style>
  li {
    list-style: none;
    margin: 0 5px 10px 5px;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  div {
    place-self: start;
    height: 100%;
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #blog {
    border-color: rgb(254, 7, 62);
  }
  #media {
    border-color: rgb(14, 173, 105);
  }
  #recipe {
    border-color: rgb(252, 202, 70);
  }
  #podcast {
    border-color: rgb(61, 165, 217);
  }
  .type {
    margin: 5px 0;
    transform: rotate(-90deg);
    font-family: "Unbound";
    color: rgb(64, 64, 64);
  }
  #blog > div {
    background-color: rgb(254, 7, 62);
  }
  #media > div {
    background-color: rgb(14, 173, 105);
  }
  #recipe > div {
    background-color: rgb(252, 202, 70);
  }
  #podcast > div {
    background-color: rgb(61, 165, 217);
  }
  a {
    text-decoration: none;
    color: rgb(64, 64, 64);
    margin: 0 16px;
  }
  a > h4 {
    margin: 16px 0;
  }
  /* img {
    max-height: 167px;
  } */
</style>