---
const services = [
  {
    name: 'Intake Session',
    description: 'I will provide individualized counseling tailored specifically to you by taking a deep dive into your current dietary habits, food preferences, activity level, and upcoming goals.',
    time: '60 min',
    cost: 175,
    incl: 'handouts, fueling guides, and email support between sessions'
  },
  {
    name: 'Follow-up Session',
    description: 'Fine tune our approach, troubleshoot any issues that have come up since the initial session, assess progress and adjust as needed.',
    time: '45 min',
    cost: 125,
  },
  {
    name: 'Athlete Package',
    description: 'Nutrition is an important part of the performance puzzle! I will help you cater your fueling toward your specific goals over the course of the intake session and three follow-up sessions.',
    cost: 450,
    incl: 'handouts, fueling guides, and email support between sessions'
  },
  {
    name: 'Initial Call',
    description: 'Not ready to book a full appointment? Contact me to schedule a brief conversation to ask any questions you have and make sure I am the right dietitian for you.',
    time: '10 min',
    cost: 'FREE',
  },
]
---

<div class="counseling-container">
  <h2 class="animate-title">Counseling Services</h2>
  {services.map((service) => {
    return (
      <div class="service-card">
        <h3>{service.name}</h3>
        <p>{service.description}</p>
        <p>{service.time ? `Time: ${service.time}` : ''}</p>
        <p>{typeof(service.cost) === 'number' ? `Cost: $${service.cost}` : `${service.cost}`}</p>
      </div>
    )
  })}
</div>
<style>
  div {
    background-color: whitesmoke;
  }
</style>