---
import golden from "../images/gallery/Amity_Goldengate.Lite.jpg";
import barnacle from "../images/gallery/Shaffer_Taylor-17.Lite.jpg";
import wolverine from "../images/gallery/Wolverine.Lite.jpg";
import stingray from "../images/gallery/stingray.jpg";
import corazon from "../images/gallery/corazon.jpg";
import six from "../images/gallery/sixstar.jpeg";
import lifeline from "../images/gallery/lifeline.jpg";
import gear from "../images/gallery/Shaffer_Taylor-2.jpg";
import johnny from "../images/gallery/JohnnyLat.jpg";
import mark from "../images/gallery/mark.jpg";
import psycho from "../images/gallery/psycho.jpg";
import rude from "../images/gallery/rudeboys.jpg";
import dragon from "../images/gallery/dragon.jpg";
import air from "../images/gallery/air.jpg";
import fly from "../images/gallery/fly.jpg";
import monastery from "../images/gallery/monastery.jpg";
import space from "../images/gallery/space.jpeg";
import gate from "../images/gallery/gate.jpg";

const images = [golden, barnacle, wolverine]
const photoArray = Astro.props.array;
const array = [
  {
    src: golden,
    alt: 'Amity on Golden Gate',
    caption: 'The A5 Traverse',
    location: 'El Capitan, Yosemite',
    credit: {
      name: 'Felipe Nordenflycht',
      site: 'https://www.felipesh.com/',
    }
  },
  {
    src: johnny,
    alt: 'Amity on Johnny Lat',
    caption: 'Johnny Lat',
    location: `Turkey Rocks, CO`,
    credit: {
      name: 'Adam Pawlikiewicz',
      site: 'https://www.adampawlikiewicz.com/',
    }
  },
  {
    src: barnacle,
    alt: 'Amity on Barnacle Scars',
    caption: 'Barnacle Scars',
    location: `Ship's Prow, RMNP`,
    credit: {
      name: 'Taylor Schaffer',
      site: 'https://www.taylorshaffer.com/',
    }
  },
  {
    src: stingray,
    alt: 'Amity on Stingray',
    caption: 'Stingray',
    location: `Joshua Tree, CA`,
    credit: {
      name: 'Jeremy Schoenborn',
      site: 'https://www.instagram.com/jerrrrrrrrbs/',
    }
  },
  {
    src: psycho,
    alt: 'Amity on Mark of the Beast',
    caption: 'Mark of the Beast',
    location: `Yosemite`,
    credit: {
      name: 'Samuel Crossley',
      site: 'https://samuelcrossley.media/',
    }
  },
  {
    src: corazon,
    alt: 'Amity on El Corazon',
    caption: 'El Corazon',
    location: `El Capitan, Yosemite`,
    credit: {
      name: 'Scott Eubank',
      site: 'https://www.scotteubank.com/',
    }
  },
  {
    src: lifeline,
    alt: 'Amity on Lifeline',
    caption: 'Lifeline',
    location: `Sedona, AZ`,
    credit: {
      name: 'Blake McCord',
      site: 'https://www.mccordmedia.org/',
    }
  },
  {
    src: six,
    alt: 'Amity on Six Star Crack',
    caption: 'Six Star Crack',
    location: `Indian Creek, UT`,
    credit: {
      name: 'Tempei Takeuchi',
      site: 'https://www.tempeiphotography.com/',
    }
  },
  {
    src: wolverine,
    alt: 'Amity onsighting Wolverine',
    caption: 'Onsighting Wolverine (13-)',
    location: 'The Waterfall, AZ',
    credit: {
      name: 'JP Melville',
      site: 'https://www.youtube.com/@v3rtmedia/',
    }
  },
  {
    src: mark,
    alt: 'Amity on Mark of the Beast',
    caption: 'Mark of the Beast',
    location: `Yosemite`,
    credit: {
      name: 'Samuel Crossley',
      site: 'https://samuelcrossley.media/',
    }
  },
  {
    src: air,
    alt: 'Amity attempting Air Swedin',
    caption: 'Air Swedin',
    location: 'Indian Creek, UT',
    credit: {
      name: 'Scott Eubank',
      site: 'https://www.scotteubank.com/',
    }
  },
  {
    src: dragon,
    alt: 'Amity on Enter the Dragon',
    caption: 'Enter the Dragon',
    location: `The Fins, ID`,
    credit: {
      name: 'Ben Crawford',
      site: '',
    }
  },
  {
    src: fly,
    alt: 'Amity on Learning to Fly',
    caption: 'Learning to Fly',
    location: 'Indian Creek, UT',
    credit: {
      name: 'Felipe Nordenflycht',
      site: 'https://www.felipesh.com/',
    }
  },
  {
    src: gate,
    alt: 'Amity on Golden Gate',
    caption: 'Golden Gate',
    location: `Yosemite`,
    credit: {
      name: 'Felipe Nordenflycht',
      site: 'https://www.felipesh.com/',
    }
  },
  {
    src: space,
    alt: 'Amity on Buffaloes in Space',
    caption: 'Buffaloes in Space',
    location: 'Cathedral Spires, CO',
    credit: {
      name: 'Connor Warme',
      site: '',
    }
  },
  {
    src: monastery,
    alt: 'Amity on Psychatomic',
    caption: 'Psychatomic',
    location: `The Monastery, CO`,
    credit: {
      name: 'Felipe Nordenflycht',
      site: 'https://www.felipesh.com/',
    }
  },
  {
    src: rude,
    alt: 'Amity on Rude Boys',
    caption: 'Rude Boys',
    location: `Smith Rock, OR`,
    credit: {
      name: 'Simon Carter',
      site: 'https://www.onsight.com/au/',
    }
  },
  {
    src: gear,
    alt: 'Amity gearing up in RMNP',
    caption: 'Racking up',
    location: `Chasm Lake, RMNP`,
    credit: {
      name: 'Taylor Shaffer',
      site: 'https://www.taylorshaffer.com/',
    }
  },
]
---
<section aria-label="Photo Gallery">
  <div class="gallery" data-gallery>
    <button class="gallery-button prev" data-gallery-button="prev">&#8656;</button>
    <button class="gallery-button next" data-gallery-button="next">&#8658;</button>
    <ul data-slides>
      {array.map((image) => (
        <li class="slide">
          <img src={image.src} alt='' />
          <div class="credit-container">
            <p>{image.caption}</p>
            <p>{image.location}</p>
            <p><a href={image.credit.site} target="_blank" rel="noreferrer">{image.credit.name}</a></p>
          </div>
        </li>
      ))}
    </ul>
  </div>
</section>
<style>
*::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gallery {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.gallery-button {
  position: absolute;
  z-index: 8;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 0 .5rem .5rem .5rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.15);
}
.gallery-button:hover,
.gallery-button:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.25);
}
.gallery-button:focus {
  outline: 1px solid black;
}
.gallery-button.prev {
  left: 2%;
}
.gallery-button.next {
  right: 2%;
}
.gallery > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 250ms opacity ease-in-out;
  transition-delay: 150ms;
}
.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
}
.slide > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.credit-container {
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  transition: 1000ms opacity ease-in;
}
.credit-container > p {
  margin: 0;
  padding: 1px 5px;
  font-weight: 400;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: zoom-in;
}
.credit-container > p > a {
  color: whitesmoke;
  text-decoration: none;
}
.credit-container > p:last-child {
  cursor: pointer;
}
.slide[data-active] .credit-container {
  animation: reveal 7s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>
<script defer>
  const initialActive = document.querySelector('li.slide');
  initialActive.setAttribute('data-active', '');
  const nextBtn = document.querySelector('button.next');
  const prevBtn = document.querySelector('button.prev')

  const changeSlide = (button) => {
    const offset = button.dataset.galleryButton === 'next' ? 1 : -1;
    const slides = button
      .closest('[data-gallery]')
      .querySelector('[data-slides]')
    const activeSlide = slides.querySelector('[data-active]')
    let newIndex = [...slides.children].indexOf(activeSlide) + offset
    if (newIndex < 0) newIndex = slides.children.length - 1
    if (newIndex >= slides.children.length) newIndex = 0
    console.log([newIndex, activeSlide, slides])
    slides.children[newIndex].dataset.active = true;
    delete activeSlide.dataset.active
  }
  nextBtn.addEventListener('click', () => changeSlide(nextBtn))
  prevBtn.addEventListener('click', () => changeSlide(prevBtn))
</script>