---
import golden from "../images/gallery/Amity_Goldengate.Lite.jpg";
import barnacle from "../images/gallery/Shaffer_Taylor-17.Lite.jpg";
import wolverine from "../images/gallery/Wolverine.Lite.jpg";
import stingray from "../images/gallery/stingray.jpg";
import corazon from "../images/gallery/corazon.jpg";
import six from "../images/gallery/sixstar.jpeg";
import lifeline from "../images/gallery/lifelineaz.jpg";
import gear from "../images/gallery/Shaffer_Taylor-2.jpg";
import johnny from "../images/gallery/JohnnyLat.jpg";
import mark from "../images/gallery/mark.jpg";
import psycho from "../images/gallery/psycho.jpg";
import rude from "../images/gallery/rudeboys.png";
import dragon from "../images/gallery/dragon.jpg";
import air from "../images/gallery/air.jpg";
import fly from "../images/gallery/fly.jpg";
import monastery from "../images/gallery/monastery.jpg";
import gate from "../images/gallery/gate.jpg";
import tales from "../images/gallery/tales.jpg";
import guns from "../images/gallery/guns.jpg";
import jetstream from "../images/gallery/jetstream.jpg";
import arrow from "../images/icons/arrow-custom.png";
import tainted from "../images/gallery/tainted1.jpg";
import taintedlove from "../images/gallery/tainted2.jpg";

const array = [
  {
    src: golden,
    alt: 'Amity on Golden Gate',
    caption: 'The A5 Traverse',
    location: 'El Capitan, Yosemite',
    credit: {
      name: 'Felipe Nordenflycht',
      site: 'https://www.felipesh.com/',
    },
    position: '75%',
  },
  {
    src: tales,
    alt: 'Amity on Tales of Power',
    caption: 'Tales of Power',
    location: 'Yosemite',
    credit: {
      name: 'Taylor Shaffer',
      site: 'https://www.taylorshaffer.com/',
    },
    position: '50%',
  },
  {
    src: barnacle,
    alt: 'Amity on Barnacle Scars',
    caption: 'Barnacle Scars',
    location: `Ship's Prow, RMNP`,
    credit: {
      name: 'Taylor Shaffer',
      site: 'https://www.taylorshaffer.com/',
    },
    position: '25%',
  },
  {
    src: taintedlove,
    alt: 'Amity on Tainted Love',
    caption: 'Tainted Love',
    location: `Squamish, BC`,
    credit: {
      name: 'Rachel Ross',
      site: 'https://www.rachelrossmedia.com/',
    },
    position: '65%',
  },
  {
    src: jetstream,
    alt: 'Amity on Jet Stream',
    caption: 'Jet Stream',
    location: 'Red Rock, NV',
    credit: {
      name: 'JP Melville',
      site: 'https://www.youtube.com/@v3rtmedia/',
    },
    position: '45% 0%',
  },
  {
    src: stingray,
    alt: 'Amity on Stingray',
    caption: 'Stingray',
    location: `Joshua Tree, CA`,
    credit: {
      name: 'Connor Brown',
      site: 'https://www.connorbrownphotography.com/',
    },
    position: '80% 5%',
  },
  {
    src: johnny,
    alt: 'Amity on Johnny Lat',
    caption: 'Johnny Lat',
    location: `Turkey Rocks, CO`,
    credit: {
      name: 'Adam Pawlikiewicz',
      site: 'https://www.adampawlikiewicz.com/',
    },
    position: '28%',
  },
  {
    src: psycho,
    alt: 'Amity on Mark of the Beast',
    caption: 'Mark of the Beast',
    location: `Yosemite`,
    credit: {
      name: 'Samuel Crossley',
      site: 'https://samuelcrossley.media/',
    },
    position: '55% 0%',
  },
  {
    src: corazon,
    alt: 'Amity on El Corazon',
    caption: 'El Corazon',
    location: `El Capitan, Yosemite`,
    credit: {
      name: 'Scott Eubank',
      site: 'https://www.scotteubank.com/',
    },
    position: '25% 40%',
  },
  {
    src: lifeline,
    alt: 'Amity on Lifeline',
    caption: 'Lifeline',
    location: `Sedona, AZ`,
    credit: {
      name: 'Blake McCord',
      site: 'https://www.mccordmedia.org/',
    },
    position: '70% 33%',
  },
  {
    src: six,
    alt: 'Amity on Six Star Crack',
    caption: 'Six Star Crack',
    location: `Indian Creek, UT`,
    credit: {
      name: 'Tempei Takeuchi',
      site: 'https://www.tempeiphotography.com/',
    },
    position: '70%',
  },
  {
    src: wolverine,
    alt: 'Amity onsighting Wolverine',
    caption: 'Onsighting Wolverine (13-)',
    location: 'The Waterfall, AZ',
    credit: {
      name: 'JP Melville',
      site: 'https://www.youtube.com/@v3rtmedia/',
    },
    position: '60% 0%',
  },
  {
    src: guns,
    alt: 'Amity flexing her arms',
    caption: 'Tools of the Trade',
    location: 'Yosemite',
    credit: {
      name: 'Taylor Shaffer',
      site: 'https://www.taylorshaffer.com/',
    },
    position: '50%',
  },
  {
    src: mark,
    alt: 'Amity on Mark of the Beast',
    caption: 'Mark of the Beast',
    location: `Yosemite`,
    credit: {
      name: 'Samuel Crossley',
      site: 'https://samuelcrossley.media/',
    },
    position: '75% 0%',
  },
  {
    src: tainted,
    alt: 'Amity on Tainted Love',
    caption: 'Tainted Love',
    location: `Squamish, BC`,
    credit: {
      name: 'Rachel Ross',
      site: 'https://www.rachelrossmedia.com/',
    },
    position: '60%',
  },
  {
    src: air,
    alt: 'Amity attempting Air Swedin',
    caption: 'Air Swedin',
    location: 'Indian Creek, UT',
    credit: {
      name: 'Scott Eubank',
      site: 'https://www.scotteubank.com/',
    },
    position: '65% 35%',
  },
  {
    src: dragon,
    alt: 'Amity on Enter the Dragon',
    caption: 'Enter the Dragon',
    location: `The Fins, ID`,
    credit: {
      name: 'Ben Crawford',
      site: 'https://www.instagram.com/bencrawford17/',
    },
    position: '10% 55%',
  },
  {
    src: fly,
    alt: 'Amity on Learning to Fly',
    caption: 'Learning to Fly',
    location: 'Indian Creek, UT',
    credit: {
      name: 'Felipe Nordenflycht',
      site: 'https://www.felipesh.com/',
    },
    position: '40%',
  },
  {
    src: gate,
    alt: 'Amity on Golden Gate',
    caption: 'Golden Gate',
    location: `El Capitan, Yosemite`,
    credit: {
      name: 'Felipe Nordenflycht',
      site: 'https://www.felipesh.com/',
    },
    position: '30% 0%',
  },
  {
    src: monastery,
    alt: 'Amity on Psychatomic',
    caption: 'Psychatomic',
    location: `The Monastery, CO`,
    credit: {
      name: 'Felipe Nordenflycht',
      site: 'https://www.felipesh.com/',
    },
    position: '15%',
  },
  {
    src: rude,
    alt: 'Amity on Rude Boys',
    caption: 'Rude Boys',
    location: `Smith Rock, OR`,
    credit: {
      name: 'Simon Carter',
      site: 'https://www.onsight.com/au/',
    },
    position: '75% 60%',
  },
  {
    src: gear,
    alt: 'Amity gearing up in RMNP',
    caption: 'Racking up',
    location: `Chasm Lake, RMNP`,
    credit: {
      name: 'Taylor Shaffer',
      site: 'https://www.taylorshaffer.com/',
    },
    position: '30% 0%',
  },
]
---
<section aria-label="Photo Gallery">
  <div class="gallery" data-gallery>
    <button class="gallery-button prev" data-gallery-button="prev">
      <img src={arrow} alt="&#8656;">
    </button>
    <button class="gallery-button next" data-gallery-button="next">
      <img src={arrow} alt="&#8658;">
    </button>
    <ul data-slides>
      {array.map((image) => (
        <li class="slide">
          <img src={image.src} alt='' style={'object-position:' + image.position }/>
          <div class="credit-container">
            <div class="credit-text-wrapper">
              <p>{image.caption}</p>
              <p>{image.location}</p>
              <p><a href={image.credit.site} target="_blank" rel="noreferrer">{image.credit.name}</a></p>
            </div>
            </div>
        </li>
      ))}
    </ul>
  </div>
</section>
<style>
*::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
button {
  margin: 0;
  padding: 0;
}
.gallery {
  height: calc(100vh + 1px);
  width: 100vw;
  position: relative;
}
.gallery-button {
  position: absolute;
  z-index: 8;
  background: none;
  border: none;
  top: calc(50% - 25px);
  color: rgb(245, 245, 245);
  cursor: pointer;
  border-radius: 50%;
  /* background-color: rgba(0, 0, 0, 0.15); */
}
.gallery-button.prev > img,
.gallery-button.next > img {
  height: 50px;
  border-radius: 50%;
  background-color: rgba(64, 64, 64, 0);
  transition: 150ms ease-in-out;
  outline: none;
}
.gallery-button img:hover,
.gallery-button img:focus {
  background-color: rgba(64, 64, 64, 0.6);
}
.gallery-button img:active {
  transform: scale(0.9);
  box-shadow: 0 0 3px black;
}
.gallery-button.prev {
  left: 2%;
  transform: rotate(90deg);
}
.gallery-button.next {
  right: 2%;
  transform: rotate(-90deg);
}
.gallery > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 250ms opacity ease-in-out;
  transition-delay: 150ms;
}
.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 3;
}
.slide > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.credit-container {
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding: 2vw;
  transition: 1s opacity ease-in;
}
.credit-text-wrapper {
  padding: 2vw 3vw;
  background-color: rgba(64, 64, 64, 0.9);
  border-radius: 3px;
  border-top: 6px solid rgb(254, 7, 62);
  border-left: 12px solid rgb(245, 245, 245);
  box-shadow: 0 0 3px rgb(64, 64, 64);
}
.credit-text-wrapper > p {
  margin: 0;
  font-weight: 400;
  color: rgb(245, 245, 245);
  cursor: zoom-in;
}
.credit-text-wrapper > p:first-child {
  font-weight: 600;
}
.credit-text-wrapper > p > a {
  color: rgb(245, 245, 245);
  text-decoration: 1px underline;
}
.credit-text-wrapper > p:last-child {
  cursor: pointer;
}
.slide[data-active] .credit-container {
  animation: reveal 16s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* trying to have a hover effect on caption, but animation trumps this.. */
.slide[data-active] .credit-container:hover {
  opacity: 1;
}
@media screen and (min-width: 770px) {
  .credit-text-wrapper {
    font-size: 20px;
    padding: 1.5vw 2.5vw;
  }
}
</style>
<script defer>
  const initialActive = document.querySelector('li.slide');
  initialActive.setAttribute('data-active', '');
  const nextBtn = document.querySelector('button.next');
  const prevBtn = document.querySelector('button.prev')

  const changeSlide = (button) => {
    const offset = button.dataset.galleryButton === 'next' ? 1 : -1;
    const slides = button
      .closest('[data-gallery]')
      .querySelector('[data-slides]')
    const activeSlide = slides.querySelector('[data-active]')
    let newIndex = [...slides.children].indexOf(activeSlide) + offset
    if (newIndex < 0) newIndex = slides.children.length - 1
    if (newIndex >= slides.children.length) newIndex = 0
    slides.children[newIndex].dataset.active = true;
    delete activeSlide.dataset.active
  }
  nextBtn.addEventListener('click', () => changeSlide(nextBtn))
  prevBtn.addEventListener('click', () => changeSlide(prevBtn))
</script>