---
const { platform, username, image } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} target="_blank" rel="noreferrer" aria-label=`Open new tab to Amity's ${platform} profile`>
  <img class="sm-icon" src={image} alt={platform} >
</a>

<style>
  a {
    text-decoration: none;
  }
  img {
    height: 50px;
    padding: 0.35rem 1rem;
    transition: all 0.2s ease-in;
  }
  a:hover img {
    transform: translateY(-5px);
  }
</style>