---
const { climb, grade, pitches, style, location } = Astro.props.climb;
const pitchesText = pitches ? `, ${pitches} pitches` : '';
const styleText = style ? `, ${style}` : '';
---
<div>
  <p><em>{climb}</em></p>
  <p>{grade}{pitchesText}{styleText}</p>
</div>
<style>
  p {
    margin-top: 0;
  }
  p:first-child {
    margin-bottom: 0;
  }
</style>