---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import lifeline from "../images/gallery/lifelineaz.jpg";
import '../styles/global.css';

const { pageTitle, img, url } = Astro.props;
const blur = (img && img.noimg) ? true : false;
const mobilebackground = (img && !blur) ? img.url : lifeline;
const backgroundimg = (img && !blur) ? `url(${img.url})` : `url(${lifeline})`;
const position = (img && !blur) ? `${img.position}` : 'center';
// add check to remove background image on contact page (mobile and regular)
const blurvar = blur ? 'none' : 'block';
const background = blur ? 'none' : backgroundimg;

const thumbnail = "https://github.com/connorwarme/pro-site/raw/main/src/images/gallery/a-thumbnail.png"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/a-custom.png" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content="Amity Warme - professional climber and registered dietician." />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content={pageTitle} />
    <meta name="og:description" content="Amity Warme - professional climber and registered dietician." />
    <meta name="og:url" content={url} />
    <meta name="og:site-name" content="Amity Warme" />
    <meta name="og:image" content={thumbnail} />
    <meta name="og:image-width" content="3500" />
    <meta name="og:image-height" content="1832" />
    <meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <Header blur={blur}/>
    <div class="mobile-img">
      <img src={mobilebackground} />
    </div>
    <slot />
    <div class="body-spacer"></div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <style define:vars={{background, position, blurvar}}>
      body {
        background-color: whitesmoke;
        background-image: var(--background);
        background-position: var(--position);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
      }
      .mobile-img {
        display: none;
      }
      .body-spacer {
        flex-grow: 1;
      }
      @media (hover: none), (max-width: 769px) {
        body {
          background-image: none;
        }
        .mobile-img {
          display: var(--blurvar);
          position: fixed;
          height: 100vh;
          min-width: 100vw;
          z-index: -1;
        }
        .mobile-img > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: var(--position);
          padding: 0;
        }
      }
      @media (hover: none) and (orientation: portrait) {
      }
    </style>
	</body>
</html>
