---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle, img } = Astro.props;
const baseImage = "../src/images/gallery/lifeline.jpg"
const background = img ? `url(${img})` : `url(${baseImage})`;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <Header />
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";

    </script>
    <style define:vars={{background}}>
      body {
        background-image: var(--background);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        background-size: cover;
      }
    </style>
	</body>
</html>
