---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import lifeline from "../images/gallery/lifeline.jpg";
import golden from "../images/gallery/Amity_Goldengate.Lite.jpg";
import '../styles/global.css';

const { pageTitle, img } = Astro.props;
const blur = img.noimg === true ? true : false;
const mobilebackground = (img && !blur) ? img.url : lifeline;
const backgroundimg = (img && !blur) ? `url(${img.url})` : `url(${lifeline})`;
const position = (img && !blur) ? `${img.position}` : 'center';
// add check to remove background image on contact page (mobile and regular)
const blurvar = blur ? 'none' : 'block';
const background = blur ? 'none' : backgroundimg;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/pro-site/a-custom.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <Header blur={blur}/>
    <div class="mobile-img">
      <img src={mobilebackground} />
    </div>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <style define:vars={{background, position, blurvar}}>
      body {
        background-color: whitesmoke;
        background-image: var(--background);
        background-position: var(--position);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
      }
      .mobile-img {
        display: none;
      }
      @media (hover: none), (max-width: 769px) {
        body {
          background-image: none;
        }
        .mobile-img {
          display: var(--blurvar);
          position: fixed;
          height: 100vh;
          min-width: 100vw;
          z-index: -1;
        }
        .mobile-img > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: var(--position);
        }
      }
      @media (hover: none) and (orientation: portrait) {
      }
    </style>
	</body>
</html>
