---
import BaseLayout from './BaseLayout.astro';
const image = {
  url: "../src/images/gallery/gate.jpg",
  position: "25%",
}
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} img={image}>
  <div class="blog-wrapper">
    <h1 class="blog-title">{frontmatter.title}</h1>
    <div class="intro-block">
      <p class="blog-intro">{frontmatter.pubDate.slice(5,10)}-{frontmatter.pubDate.slice(0,4)}</p>
      <p class="blog-intro"><em>{frontmatter.description}</em></p>
      { frontmatter.author ? <p class="blog-intro"> {frontmatter.author}</p> : null }
    </div>
    <img class="blog-main-image" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    { frontmatter.image.caption ? <figcaption>{frontmatter.image.caption}</figcaption> : null }
    { frontmatter.image.cred ? <figcaption class="cap-credit">Credit: {frontmatter.image.cred}</figcaption> : null }
    { frontmatter.origin ? <p class="origin">Originally posted by <a href={frontmatter.origin.url}>{frontmatter.origin.name}</a></p> : null }
    <div class="blog-slot">
      <slot />
    </div>
    <div class="tag-index-container">
      {frontmatter.tags.map((tag) => (
        <a class="tag-item" href={`/tags/${tag}`}>{tag}</a>
      ))}
    </div>
  </div>
</BaseLayout>
<style>
  .blog-wrapper {
    margin-top: 50vh;
    background-color: rgb(245, 245, 245);
    color: rgb(64, 64, 64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 7.5vw;  
  }
  .blog-title {
    font-size: 26px;
  }
  .blog-intro {
    text-align: center;
  }
  .intro-block {
    margin: 0 0 12px 0;
  }
  .intro-block p {
    margin: 8px 0;
  }
  figcaption {
    font-size: 13px;
  }
  .cap-credit {
    font-style: italic;
  }
  .origin {
    margin: 6px 0 0 0;
  }
  .blog-slot {
    width: 100%;
  }
  .tag-index-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
  }

</style>