---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <div class="blog-wrapper">
    <h1 class="blog-title">{frontmatter.title}</h1>
    <p class="blog-intro">{frontmatter.pubDate.slice(5,10)}-{frontmatter.pubDate.slice(0,4)}</p>
    <p class="blog-intro"><em>{frontmatter.description}</em></p>
    { frontmatter.author ? <p class="blog-intro"> {frontmatter.author}</p> : null }
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    { frontmatter.image.caption ? <figcaption>{frontmatter.image.caption}</figcaption> : null }
    { frontmatter.image.cred ? <figcaption>Credit: {frontmatter.image.cred}</figcaption> : null }
    <slot />
    <div class="tag-index-container">
      {frontmatter.tags.map((tag) => (
        <a class="tag-item" href={`/tags/${tag}`}>{tag}</a>
      ))}
    </div>
  </div>
</BaseLayout>
<style>
  .blog-wrapper {
    margin-top: 50vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;  
  }
  .blog-title {
    font-size: 32px;
  }
  .blog-intro {
    text-align: center;
  }
  img {
    max-width: 300px;
  }
  .tag-index-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
  }

</style>